# Copied from backend/requirements.txt for Render compatibility
urllib3==2.0.4
uvicorn==0.24.0
virtualenv==20.29.3
weasyprint==60.1
webencodings==0.5.1
Werkzeug==2.3.6
wsproto==1.0.0
yt-dlp==2024.11.4
zipp==3.16.2
zopfli==0.2.3.post1
